<Container className={ isScroll ? "flex items-center justify-between eng scrolled"
  : "flex items-center justify-between eng" } id="headerContainer">
  <h1>
    <Link to="/">
    <img src={LogoNormal} alt="로고" className="logo" />
    </Link>
  </h1>
  <MobileMenu type="button" className="block lg:hidden" onClick={handleOverlay}>
    <span></span>
    <span></span>
    <span></span>
  </MobileMenu>
  <ul className="container lg:flex items-center justify-center text-xl nav hidden">
    <li className="lg:mr-8">
      <Link to="/page/company">COMPANY</Link>
    </li>
    <li className="lg:ml-8 lg:mr-8">
      <Link to="/page/business">BUSINESS</Link>
    </li>
    <li className="lg:ml-8 lg:mr-8">
      <Link to="/page/business/media">CONTENTS</Link>
    </li>
    <li className="lg:ml-8 lg:mr-8">
      <Link to="/page/career">CAREER</Link>
    </li>
    <li className="lg:ml-8 lg:mr-8">
      <Link to="/page/news">NEWS</Link>
    </li>
    <li className="lg:ml-8">
      <Link to="/page/contact">CONTACT</Link>
    </li>
  </ul>
  <ul className="lang hidden lg:block">
    <li>
      <button type="button" onClick={()=> handleLanguage("ko")}>
        KO
      </button>
    </li>
    <li>
      <button type="button" onClick={()=> handleLanguage("en")}>
        EN
      </button>
    </li>
    <li>
      <button type="button" onClick={()=> handleLanguage("jp")}>
        JP
      </button>
    </li>
  </ul>
</Container>